<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
    <h2>Admin Dashboard</h2>
    <a href="/logout">Logout</a>
</header>

<div class="container">

    <a href="/add" class="add-btn">+ Add Notice</a>

    {% for notice in notices %}

    <div class="notice">

        <h3>{{ notice[1] }}</h3>

        <p>{{ notice[2] }}</p>

        <span>{{ notice[3] }}</span>
        <div class="notice-header">
    <span class="category">{{ notice[3] }}</span>
    <small>{{ notice[4] }}</small>
</div>

<h3>{{ notice[1] }}</h3>
<p>{{ notice[2] }}</p>

        <div class="actions">
            <a class="edit" href="/edit/{{ notice[0] }}">Edit</a>
            <a class="delete" href="/delete/{{ notice[0] }}">Delete</a>
        </div>

    </div>

    {% endfor %}

</div>

</body>
</html>