<! DOCTYPE html>
<html>
    <head>
        <title>Smart Notice Board</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='style.css'))}}">
    </head>
    <body>
        <header>
            <h2>SMART NOITCE BOARD</h2>
            <a href="/login">Admin Login</a>
        </header>

    <div class="container">
        <h3>Latest Notices</h3>

       {% for notice in notices %}
<        div class="notice">
          <h4>{{ notice[1] }}</h4>
          <p>{{ notice[2] }}</p>
          <span>{{ notice[3] }}</span>
      </div>
      {% endfor %}

        <div class="notice">
            <h4>Mid Semester Examination</h4>
            <p>Exams will begin from 25 August 2026.</p>
            <span>Exam</span>
        </div>

        <div class="notice">
            <h4>Independence Day Event</h4>
            <p>All Students are invited to  the college auditorium.</p>
            <span>Event</span>
        </div>

    </div>
</body>
</html>
